/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body {
	margin: 2.5% 7%;
}

nav {
	display: inline-block;
	width: 70%;
	margin-right: 200px;

}

h1 {
	font-size: 100px;
	padding-bottom: 50px;
}

p {
	font-size: 18px;
}

#copyright {
	display: block;
	text-align: center;
}

#contact {
	margin-top: 4%;
}

.topLinks {
	display: flex;

	font-size: 24px;

	justify-content: space-between;
}

.topLinks a {
	color: grey;
	text-decoration: none;
}

.innovation {
	margin-top: 100px;
	display: flex;
}

.box{
	display: flex;
	text-align: center;
	width: 41%;
	height: 450px;
}

.box img {
	width: 80%;
}

.intro {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 2%;
	margin-right: 20%;
}

.intro Button {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 17%;

	font-size: 16px;
}

.textSection {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.textSectionChild{
	display: flex;
	flex-direction: column;
	margin-right: 3%;
	margin-bottom: 4%;
}

.about {

	width: 45%;
}


.middle-img {
	display: flex;
	width: 100%;
}

.textSectionTwo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 4%;
}
